body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.homeImg{
width:70%;
margin: auto;
margin-top: 30px;
margin-bottom: 40px;
}
.navbar{
  position: sticky;
}
.sm{
  display: flex;
  justify-content: flex-start;
  width:97%;
  gap: 20px;
  margin: auto;
  margin-left: 20px;
padding-top: 10px;
animation: fading 1s forwards;
position: absolute;
background-color: rgb(240, 248, 248);
}
@keyframes fading {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
.nav2>div:hover, a:hover{
 
  color: rgb(240, 29, 187);
}
.nav2{
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.smd{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  align-items: left;
  text-align: left;
  width: 150px;
   


}
.flex{
  display: flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.smd >h3{
  color: rgb(231, 1, 212);
 
}
.smd >p:hover, a:hover{
  background-color: rgb(221, 220, 220);
  border-radius: 7px;
}
.pink{
  color: rgb(240, 29, 187);
}
 
.sb{

border: 1px solid rgb(214, 214, 214);
border-radius: 7px;
margin-top: 20px;
width: 20%;
height: 400px;
padding: 10px;
text-align: left;
margin-left: 30px;
}
.h1{
  font-size: 30px;
}
.small_Text{
  font-size: small;
}
.option{
  text-align: left;
  padding: 10px;
  width: 100%;
  color: rgb(58, 53, 53);
  background-color: rgb(250, 250, 250);
}
.ProductsBar{
  background-color:white;
  width: 70%;
 
  margin: auto;
  margin-left: 30px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
.option:hover{

  background-color: rgb(240, 250, 250);
}
.filter{
  padding-top: 10px;
}
.sp{
  padding: 10px;
  background-color: aquamarine;
}

.sigleProductCard{
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
  margin-top: 20px;
}
.smallImage{
  width: 7%;
  padding: 2px;
 
}
.smallImage>img{
border: solid rgb(221, 12, 204);
}
.bigImage{
  width: 45%;
  padding: 10px;
  
}
.bigImage>img{
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.Single_Product_Details{
  width: 55%;
  padding: 10px;
}
.left{
  text-align: left;
  padding: 15px;
}
.border{  
  margin:10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.button{
  display: flex;
  border: .5px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  gap: 5px;
  margin: 5px;

}
.pinkbutton{
  color: white;
  border: rgb(105, 2, 2);
  background-color: rgb(243, 22, 114);
}
.flex1{
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
p{
  font-family: Book Antiqua
}
.cart{
  text-align: left;
  display:grid;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  grid-template-columns: 2fr 1fr;
  gap:10px

}

.singlecart{
  display:flex;
  padding: 5px;
}
.imgdiv{
  padding: 5px;
  width: 23%;
}
.imgdiv>img{
  border-radius: 4px;
}
.detaildiv{
  padding: 5px;
}
.bold1{
  font-weight: 600;
  padding: 5px;
  padding-right: 10px;
}
.bold2{
  font-weight: 700;
}
.spacebtw{
  justify-content: space-between;
  padding: 5px;
}
.width60{
  width: 60%;
  margin: auto;
}
.yeh{
  text-align: center;
  padding:10px;
  margin: 5px;
  color: rgb(27, 27, 112);
  background-color: rgb(220, 232, 255);
}
.clinking{
  text-align: center;
  padding:5px;
  margin: 5px;
  border-radius:5px;
  font-size: x-small;
  color: rgb(27, 27, 112);
  background-color: rgb(235, 235, 235);
}
.continue{
  text-align: center;
  padding:5px;
  margin: 5px;
  font-size: larger;
  color: rgb(255, 254, 254);
  background-color: rgb(255, 0, 157);
}
.bold{
  font-size: larger;
}

.maindiv{
  width: 65%;
  display: flex;
  margin: auto;
  margin-top: 50px;
  justify-content: space-evenly;
}
.left{
   width:50%
}
.maindiv2{
   width: 100%;
   display: flex;
   margin: auto;
   margin-top: 50px;
   justify-content: space-evenly;
}
.width30{
  width: 35%;
}
.width65{
  text-align: left;
  width: 55%;
  padding: 30px;
}
.input1 {
  outline: 0;
  width: 100%;
  margin: 10px;
  margin-top:20px ;
  border-width: 0 0 2px;
  border-color: rgb(236, 235, 235)
}
.marginTop{
  margin-top: 30px;
  padding: 20px;
}
.flexm{
  display: flex;
}
.menu{
  display: none;

}
@media only screen and (max-width: 600px) {
  .menu{
    display: block;
  }
  .maxL{
    display: none;
  }
  .ProductsBar{
    grid-template-columns: 1fr;
  }
  .address{
    display: block;
  }
  .address>div{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .flexm{
    display: block;
  }
  .sb{
    width: 80%;
  }
  .nav2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .nav2>div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  }
  .paddin_20{
    padding: 40px;
  }
  .sigleProductCard{
    display: block;
  }
  .width_max,.bigImage{
    width: 80%;
    margin: auto;
  }
  .cart{
    display: block;
  }
  .download{
    display: none;
  }
  .crtb{
    display: none;
  }
  
}
.nvv22{
  display: block;
  
}
.nvv22>.nav2{
  display: block;
  text-align: right;
}

